@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mb-primary: #7367f0;
	--mb-secondary: #f2f2f2;
	--mb-accent: #565360;
	--mb-positive: #21ba45;
	--mb-negative: #ea5455;
	--mb-warning: #ff9f43;
	--mb-white: #fff;
	--mb-dark: #283046;
	--mb-dark-page: #161d31;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bg-dark {
	background-color: var(--mb-dark);
}

.bg-dark-page {
	background-color: var(--mb-dark-page);
}
