:host {
	width: 100%;
}

.login-card {
	background-color: transparent !important;
	box-shadow: none;

	&__title {
		color: #fff;
		font-size: 1.25rem;
		font-weight: 500;
		letter-spacing: 0.0125em;
		line-height: 2rem;
		margin-bottom: 32px;
	}

}
